<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TrackDidia</title>
		<meta name="author" content="Aristote Diasonama">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

	</head>
	
	<body>
		<header class="text-center">
			<strong> Welcome {{ user}} </strong>
		</header>
		
		<div id="app" class="container-fluid center-block">

		</div>
		
        <script src="/static/js/lib/require-setup.js"><</script>
		<script data-main="/static/js/app" src="/static/js/lib/require.js"></script>

	</body>
</html>
