<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TrackDidia</title>
		<meta name="author" content="Aristote Diasonama">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->

		<link href="/static/css/build/application.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>

	</head>
	
	<body>
		
		<div class ="wait-page text-center">
			<p> Welcome <strong> {{user}} </strong> </p>
			<p> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> </p>
			<p> Your schedule is loading ... </p>
		</div>
        <script src="/static/js/lib/require-setup.js"><</script>
		<script data-main="/static/js/app" src="/static/js/lib/require.js"></script>

	</body>
</html>
