<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TrackDidia</title>
		<meta name="author" content="Aristote Diasonama">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->

		<link href="/static/css/build/application.css" rel="stylesheet">

	</head>
	
	<body>
		<nav class = "navbar navbar-default navbar-fixed-top" id = "header">
			<div class = "container">
				<p class = "navbar-text navbar-right"> <strong>{{user}}</strong> </p>
			</div>
		</nav>
		
		<div id="app" class="container-fluid center-block">

		</div>
		
        <script src="/static/js/lib/require-setup.js"><</script>
		<script data-main="/static/js/app" src="/static/js/lib/require.js"></script>

	</body>
</html>
