<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="<%= static_path(@conn, "/images/logo.png") %>" height="40" />
      </a>
      <%= link gettext("Ajouter une résolution"), to: resolutions_path(@conn, :new), class: "btn btn-primary", role: "button" %>
    </nav>

    <div class="container-fluid p-4">
      <%= render(@view_module, @view_template, assigns) %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>